<connectionStrings>
  <add name="CrystalBall"
       connectionString="data source=.;initial catalog=Nait_Pathways;integrated security=SSPI;MultipleActiveResultSets=True;App=EntityFramework" 
       providerName="System.Data.SqlClient" />
  <add name="DefaultConnection"
       connectionString="data source=.;initial catalog=Nait_Pathways;integrated security=SSPI;MultipleActiveResultSets=True;App=EntityFramework"
       providerName="System.Data.SqlClient" />
</connectionStrings>