<connectionStrings>
  <add name="CrystalBall"
       connectionString="data source=DMIT-SQL1;
       initial catalog=DMIT2590A03_xdu3;
       integrated security=SSPI;
       MultipleActiveResultSets=True;App=EntityFramework" 
       providerName="System.Data.SqlClient" />
  <add name="DefaultConnection"
       connectionString="data source=DMIT-SQL1;
       initial catalog=DMIT2590A03_xdu3;integrated security=SSPI;
       MultipleActiveResultSets=True;App=EntityFramework"
       providerName="System.Data.SqlClient" />
  <!--<add name="CrystalBall"
       connectionString="data source=.;initial catalog=Nait_Pathways;integrated security=SSPI;MultipleActiveResultSets=True;App=EntityFramework"
       providerName="System.Data.SqlClient" />
  <add name="DefaultConnection"
       connectionString="data source=.;initial catalog=Nait_Pathways;integrated security=SSPI;MultipleActiveResultSets=True;App=EntityFramework"
       providerName="System.Data.SqlClient" />-->
</connectionStrings>