
/* --------------------------------Message User Control-------------------------------- */


.red-panel {
    background-color: rgba(255,0,0,.3);
    border: 1px solid #ff0000;
    margin: 15px;
    padding: 5px;
}

.yellow-panel {
    background-color: rgba(255,188,0,.3);
    border: 1px solid #ffbc00;
    margin: 15px;
    padding: 5px;
}


.blue-panel {
    background-color: rgba(41,128,185,.3);
    border: 1px solid #2980b9;
    margin: 15px;
    padding: 5px;
}


/*---------------------GENERAL STYLING ------------------------*/

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    display: block;
    float: left;
    margin: 1.04%;
    min-height: 1px;
    box-sizing: border-box;
}

.col-1 {
   width: 6.25%;
   min-width: 37px
}

.col-2 {
   width: 14.58%;
   min-width: 87px
}

.col-3 {
   width: 22.92%;
   min-width: 137px
}

.col-4 {
   width: 31.25%;
   min-width: 187px
}

.col-5 {
   width: 39.58%;
   min-width: 237px
}

.col-6 {
   width: 47.92%;
   min-width: 287px
}

.col-7 {
   width: 56.25%;
   min-width: 337px
}

.col-8 {
   width: 64.58%;
   min-width: 387px
}

.col-9 {
   width: 72.92%;
   min-width: 437px
}

.col-10 {
   width: 81.25%;
   min-width: 487px
}

.col-11 {
   width: 89.48%;
   min-width: 537px
}

.col-12{
   width: 97.92%;
   min-width: 587px
}


body {
  margin: 0 auto;
  background-image: url("../images/background-road.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  line-height: 1.2em;
}



h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Coda', Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin: .5em 0;
}

h1, h2, h3, h4 {
    text-align: center;
}

.center {
    text-align: center;
}



/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select {
    /*max-width: 280px;*/
    height: 26px;
}


input[type=checkbox] {
    vertical-align: middle;
    margin-right: 5px;
}

textarea, .textarea {
    height: 100px;
    resize: vertical;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

  a {
      text-decoration: none;
      color: #003D7E;
      
  }

  a:hover {
      color: #1363a8;
  }

/* ------------------------------------- BUTTONS --------------------------------- */



.next {
    float: right;
}

.next:hover:after {
    width: 100%;
}


.submit {
    margin: 0 auto;
}


.submit:after {
    margin: 0 auto;
}


.back {
    float: left;
}


.back:after {
    margin-left: 100%;
}


.back:hover:after {
      margin-left: 0px;
}

.button {
    display:inline-block;
    height: 40px;
    width: 100px;
  
    background-color: #ffffff;
    line-height: 40px;
    font-size: 1.2em;
    text-align: center;
    color: #003D7E;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);    
}

.button::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background-color: transparent;
    transition: .3s linear;
}

.button:hover {
    background-color: #ebf3f9;
}

.button:hover:after {
    background-color: #1363a8;
    width: 100%;
}


.button-long {
    width: 220px;
}



.listview-buttons  {
    width: 60px;
    height: 25px;
    border: 1px solid #bbbbbb;
    padding: 3px 8px;
    background: linear-gradient(#ffffff, #cccccc);
}

.listview-buttons:hover {
    background: linear-gradient(#e8f3fc, #BED4E6)
}

.listview-buttons:active  {
    background: linear-gradient(#0C487A, #3379B5 ) ;
    color: #ebf3f9;
}

.admin_button{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  color: #ffffff;
  font-size: 1em;
  padding: 3px 8px 3px 8px;
  
}

.admin_button:hover
{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);

}

.admin_button2 {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
    color:#ffffff;
    padding:3px 6px;
}

.admin_button2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}

.admin_button2:active, .admin_button:active {
	position:relative;
	top:2px;
}


.label {
    display: inline;
    text-align: right;
    vertical-align: top;
}

/*input[type="submit"] {
      border: 1px solid #ffffff;
      border-radius: 5px;
      background-color: #ffffff;
      padding: 3px 8px;*/

   /* ----------------------------------- GENERAL TABLE STYLING -------------------------------------  */

  table {
      
      margin: 0 auto;
      font-size: .94em;
      margin-bottom: 15px;
      text-align: center;
  }

  tbody {
      margin: 0 auto;
  }

  td {
      padding: 3px 10px;
  }

  th {
      padding: 5px 10px;
      font-family: 'Coda', Helvetica, Arial, sans-serif;
      font-weight: bold;
  }


/*------------------------- HEADER -----------------------------*/

nav {
  height: 70px;
  padding: 0 90px;
  background-image: url("../images/navbar-tile.png");
  background-repeat: repeat-x;
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}

nav .logo-box {
    float: left;
    line-height: 70px;
    vertical-align: middle;
    width: 60px;
    text-align: center;
}

nav .logo {
    width: 42px;
    vertical-align: middle;
    transition: .1s linear;
}

nav .logo:hover {
    width: 45px;
}

nav li {
	float: left;
	text-align: center;
    margin-top: 18px;
}

nav a {
  display: block;
  color: #ebf3f9;
  text-decoration: none;
  padding: 0px 10px;
  line-height: 30px;	
} 


nav a:hover,
nav a:focus {
  color: #ebf3f9;
  background-color: rgba(235,243,249,.25);
}


nav li::after, nav li::before {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    margin: 0 auto;
    background-color: transparent;
    transition: .25s linear;

}

nav li:hover:after, nav li:hover:before {
    width: 100%;
    background-color: #ebf3f9;
    color: #ebf3f9;
}

.navbar-collapse {
  max-height: 340px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}

nav .left-menu {
    display: inline-block;
    float: left;
}



nav .right-menu {
    display: inline-block;
    float: right;
}



/*----------------------------- BODY ---------------------------------*/

.body-content {
    background-color: rgba(255,255,255,.85);
    background-image: url("../images/corner-starburst.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 0% 100%;
    padding: 30px;
    margin: 60px 90px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
    min-height: 300px;
}

h1 {
    font-size: 2em;
    color: #1363a8;
    text-align: center;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

p {
    margin: .5em 0;
}

.search-bar {
    text-align: center;
    margin: 20px 0px;
}

  /*input[type="submit"] {
      border: 1px solid #ffffff;
      border-radius: 5px;
      background-color: #ffffff;
      padding: 3px 8px;
  }

   input[type="submit"]:hover {
      border: 1px solid #003D7E;
      border-radius: 5px;
      background-color: #e5f2ff;
      padding: 3px 8px;
  }*/

  .table_header
  {
      background-color:rgba(63, 143, 210, 0.5);

  }




   /*  ---------------------------------------------  HOME PAGE  -----------------------------------------  */
        .home {
           
        }

        .home h1 {
            font-size:60px;
            color: #92c3ff;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
            text-align:center;
        }


        .circle-button {
            border-radius: 50%;
            width: 280px;
            height: 280px;
            line-height: 280px;
            background: rgba(255, 255, 255, 0.75);
            margin: 0 auto;
            -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow:    4px 4px 5px 0px rgba(0, 0, 0, 0.3);
            box-shadow:         4px 4px 5px 0px rgba(0, 0, 0, 0.3);
            text-align:center;
            transition: box-shadow .15s linear;
        }


        .circle-button img {
            line-height: 280px;
            vertical-align: middle;
            width: 80%;
            transition: width .15s linear;
        }
        

        .circle-button:hover {
            background: rgba(255, 255, 255, 1);
            -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow:    0px 0px 17px 0px rgba(0, 0, 0, 0.75);
            box-shadow:         0px 0px 17px 0px rgba(0, 0, 0, 0.75);
        }

        .circle-button:hover img{
            width: 87%;
        }






/*----------------------  FOOTER  -------------------*/

footer {
    height: 100px;
    background-image: url("../images/footer-tile.png");
}



/*------------------------------- STUDENT PREFERENCES ----------------------------------*/

.prefQuestionsCSS {
    
}




.prefQuestionsCSS td:first-child  {
    display: none;
}


    .prefQuestionsCSS tr:first-child {
        display: none;
    }


 .radioButtonList td:first-child {
     display: table-cell;
                  }

  .radioButtonList tr:first-child {
     display: table-cell;
                  }



  /* ---------------------------------SELECT NAIT COURSE-------------------------------- */

  .nait-courses {
      max-height: 300px;
      overflow-y: scroll;
      overflow-x: hidden;
  }
  
  
  .inner-rpt-div {
      display: block;
      float: left;
      background-color: #1363a8;
      color: #ebf3f9;
      width: 46%;
      height: 100px;
      margin: 2%;
      padding: 5px 15px;
      box-sizing: border-box;
      position: relative;
   }

  .inner-rpt-div input {
      float: right;
      position: absolute;
      bottom: 5px;
      right: 15px;
  }

  .inner-rpt-div span {
      display: block;
  }



   /* --------------PROGRAM SEARCH RESULTS STYLING------------------*/
.program-search-results {
    border: none;
 }

.program-search-results tr:first-child, .program-search-results td:first-child  {
    display: none;
}

.program-search-results tr {
    background-color: rgba(255,255,255,.8);
    display: inline-block;
    margin: 1.9%;  
    border: 1px solid #aaaaaa;
    box-shadow: 8px 8px 5px rgba(0,0,0,.3);
    float: left;
    width: 46%;
    min-width: 300px;
    height: 400px;
}

.program-search-results td {
    padding: 15px;
    border: none;
    display: block;
}

.program-search-results td:nth-child(2){
    font-family: 'Coda';
    font-size: 1.8em;
}

/* ------------------Management Menu -----------------------*/

.admin-menu .col-4 {
    height: 230px;
    padding: 20px 0px;
}

.admin-menu .col-4:hover {
    background-color: rgba(162,194,219,.4);
}


.cat-img {
    height: 200px;
    width: 200px;
    line-height: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
}

.cat-img img {
    vertical-align: middle;

}









