
/*---------------------GENERAL STYLING ------------------------*/

body {
  margin: 0 auto;
  background-image: url("../images/background-road.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
}



h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Coda', Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin: .5em 0;
}

.center {
    text-align: center;
}

/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

/*-------------------------HEADER -----------------------------*/


nav li {
	float: left;
	text-align: center;
	display: inline-block;
	margin: 0px 5px;
    line-height: 70px;	
}

nav {
  height: 70px;
  background-image: url("../images/navbar-tile.png");
  background-repeat: repeat-x;
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}

.navbar-collapse {
  max-height: 340px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}

nav .left-menu {
    display: inline-block;
    float: left;
}



nav .right-menu {
    display: inline-block;
    float: right;
}

nav > li {
  position: relative;
  display: block;
  height: 40px;
  padding: 0px 20px;

  color: #ebf3f9;
}

nav a {

  text-decoration: none;
  color: #ebf3f9;
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 8px;
}



nav a:hover,
nav a:focus {
  text-decoration: none;
  border: 2px solid #ebf3f9;
  color: #ebf3f9;
  font-weight: bold;
  /*background-color: #eeeeee;*/
}


/*----------------------------- BODY ---------------------------------*/

.body-content {
    background-color: rgba(255,255,255,.9);
    background-image: url("../images/corner-starburst.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 0% 100%;
    padding: 15px;
    margin: 60px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}

h1 {
    font-size: 2em;
    color: #1363a8;
    text-align: center;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

p {
    margin: .5em 0;
}

.search-bar {
    text-align: center;
}

  a {
      text-decoration: none;
      color: #003D7E;
      
  }

  a:hover {
      color: #1363a8;
  }

  input[type="submit"] {
      border: 1px solid #ffffff;
      border-radius: 5px;
      background-color: #ffffff;
      padding: 3px 8px;
  }

   input[type="submit"]:hover {
      border: 1px solid #003D7E;
      border-radius: 5px;
      background-color: #e5f2ff;
      padding: 3px 8px;
  }





   /*  ---------------------------------------------  HOME PAGE  -----------------------------------------  */
        .home {
           
        }

        .home h1 {
            font-size:60px;
            color: #92c3ff;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
            text-align:center;
        }


        .home-col {
            float: left;
            width: 40%;
            min-width: 300px;
            margin: 30px 5%;
        }


        .circle-button {
            border-radius: 50%;
            width: 280px;
            height: 280px;
            line-height: 280px;
            background: rgba(255, 255, 255, 0.75);
            margin: 0 auto;
            -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow:    4px 4px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow:         4px 4px 5px 0px rgba(0, 0, 0, 0.75);
            text-align:center;

        }


        .circle-button img {
            line-height: 280px;
            vertical-align: middle;
            width: 80%;
        }
        

        .circle-button:hover {
            background: rgba(255, 255, 255, 1);
            -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow:    0px 0px 17px 0px rgba(0, 0, 0, 0.75);
            box-shadow:         0px 0px 17px 0px rgba(0, 0, 0, 0.75);
        }

        .circle-button:hover img{
            width: 87%;
        }




  /* ----------------------------------- GENERAL TABLE STYLING -------------------------------------  */

  table {
      margin: 5px 0px;
      font-size: .94em;
      margin-bottom: 15px;
  }

  td {
      padding: 3px 10px;
  }

  th {
      padding: 5px 10px;
      font-family: 'Coda', Helvetica, Arial, sans-serif;
      font-weight: bold;
  }

/*----------------------  FOOTER  -------------------*/

footer {
    height: 100px;
    background-image: url("../images/footer-tile.png");
}



/*------------------------------- STUDENT PREFERENCES ----------------------------------*/

.prefQuestionsCSS {
    
}




.prefQuestionsCSS td:first-child  {
    display: none;
}


    .prefQuestionsCSS tr:first-child {
        display: none;
    }


 .radioButtonList td:first-child {
     display: table-cell;
                  }

  .radioButtonList tr:first-child {
     display: table-cell;
                  }



  /* ---------------------------------SELECT NAIT COURSE-------------------------------- */

  .inner-rpt-div {
      display: inline-block;
      float: left;
      margin: 10px;
      background-color: #1363a8;
      color: #ebf3f9;
      padding: 5px 15px;
      width: 220px;
  }

  .inner-rpt-div span {
      display: block;
  }




/*-----------------------MANAGE NAIT COURSES----------------------*/

.programs-column {
    width: 30%;
    float: left;
}

.courses-column {
    width: 60%;
    float: right;
}

.courses-column h4, .programs-column h4 {
    text-align: center;
    margin-bottom: 0px;
}

   /* --------------PROGRAM SEARCH RESULTS STYLING------------------*/
.program-search-results {
    border: none;
 }

.program-search-results tr:first-child .program-search-results td:first-child  {
    display: none;
}

.program-search-results tr {
    background-color: rgba(255,255,255,.8);
    display: inline-block;
    margin: 2%;  
    border: 1px solid #aaaaaa;
    box-shadow: 8px 8px 5px rgba(0,0,0,.3);
    float: left;
    width: 46%;
    min-width: 300px;
    height: 400px;
}

.program-search-results td {
    padding: 15px;
    border: none;
    display: block;
}

.program-search-results td:nth-child(2){
    font-family: 'Coda';
    font-size: 1.8em;
}

/* ------------------Management Menu -----------------------*/

.cat-box {
    width: 27%;
    min-width: 200px;
    height: 270px;
    float: left;
    margin: 3%;
    text-align: center;
    color: #555555;
    position: relative;
}

.cat-img {
    height: 200px;
    width: 200px;
    line-height: 200px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    display: inline-block;

}

.cat-img img {
    vertical-align: middle;

}




